{% extends '_base.html.twig' %}

{% block title %}Titouan Galopin - Full Portfolio - Web and Mobile developer{% endblock %}
{% block description %}Full portfolio describing my work and associative experiences{% endblock %}
{% block keywords %}titouan, galopin, full, portolio, resume, work, projects, volunteer{% endblock %}

{% block navigation %}
    <p class="header-nav">
        <a href="/">About</a>
        <a href="/portfolio">Work</a>
        <a href="/#contact">Contact</a>
        <a href="/blog">Blog</a>
    </p>
{% endblock %}

{% block content %}

    <p class="align-center">
        <a href="#education">Education</a> |
        <a href="#work">Work experience</a> |
        <a href="#projects">Projects</a> |
        <a href="#languages">Languages</a> |
        <a href="#skills">Technical skills</a>
    </p>

    <section id="education">
        <h2>Education</h2>

        <div class="table-wrapper">
            <table>
                <tbody>
                <tr>
                    <td class="cv-date">
                        2014 - 2015
                    </td>
                    <td>
                        University Institute of Technology - Computer Science
                        <br />
                        <small class="cv-desc">
                            Two years degree, to be obtained in one year - University Paris Saclay
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        2012 - 2014
                    </td>
                    <td>
                        Engineering school intensive preparation cycle
                        <br />
                        <small class="cv-desc">
                            Mathematics and Physics courses - University of Technology of Troyes
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        2012
                    </td>
                    <td>
                        Scientific baccalauréat - obtained with honours
                        <br />
                        <small class="cv-desc">
                            French high school diploma - Lycée Jean Guéhenno
                        </small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="work">
        <h2>Work experience</h2>

        <div class="table-wrapper">
            <table>
                <tbody>
                <tr>
                    <td class="cv-date">
                        April - August 2014
                    </td>
                    <td>
                        Web developer - Emakina - <a href="http://emakina.fr">emakina.fr</a>
                        <br />
                        <small class="cv-desc">
                            Short-term contract to develop a large Symfony application (over 500 000 €) for a customer
                            of Emakina (major European web agency) and to maintain other applications.<br />
                            <strong>Keywords</strong>: Symfony, Drupal, Scrum, Digital agency
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        since January 2013
                    </td>
                    <td>
                        Technical manager - Coburo - <a href="http://coburo.com">coburo.com</a>
                        <br />
                        <small class="cv-desc">
                            Student job for a start-up company. Business analysis and associated technical choices,
                            implementation of technical recruitment tests.<br />
                            <em>One-month mission in NYC to help promoting Coburo USA</em><br />
                            <strong>Keywords</strong>: Symfony, Team management, Community management, Communication
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        since June 2009
                    </td>
                    <td>
                        Web and Mobile developer - Ademis - <a href="http://www.ademis.com">ademis.com</a>
                        <br />
                        <small class="cv-desc">
                            Various missions for Ademis customers. Web and mobile developer, formations animator,
                            technical advisor for both Ademis and their clients.<br />
                            <strong>Keywords</strong>: Unix, Silex, Wordpress, Cordova/Phonegap, AngularJS, Customer relationship
                        </small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="projects">
        <h2>Projects</h2>

        <div class="table-wrapper">
            <table>
                <tbody>
                <tr>
                    <td class="cv-date">
                        since Sept. 2012
                    </td>
                    <td>
                        Project leader - EtuUTT - <a href="https://etu.utt.fr">etu.utt.fr</a>
                        <br />
                        <small class="cv-desc">
                            Associative student website of the University of Technology of Troyes.<br />
                            <strong>Keywords</strong>: Symfony2, Team management, Automatic testing, Deployement procedures
                        </small>
                        <small class="cv-desc">
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        since Sept. 2011
                    </td>
                    <td>
                        Architect developer - Mana-Drain - <a href="http://mana-drain.net">mana-drain.net</a>
                        <br />
                        <small class="cv-desc">
                            European associative community platform based on the trading card game Magic: the
                            Gathering. Synchronization of Drupal / Symfony / Vanilla Forums codebases.<br />
                            <strong>Keywords</strong>: Symfony internals, Drupal internals, Vanilla Forums internals, Git
                        </small>
                        <small class="cv-desc">
                        </small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="languages">
        <h2>Languages</h2>

        <div class="table-wrapper">
            <table>
                <tbody>
                <tr>
                    <td class="cv-date">
                        French
                    </td>
                    <td>
                        Native speaker
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        English
                    </td>
                    <td>
                        Professional working proficiency (C2 - BULATS : 90/100)
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        German
                    </td>
                    <td>
                        Elementary proficiency
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="languages">
        <h2>Associations</h2>

        <div class="table-wrapper">
            <table>
                <tbody>
                <tr>
                    <td class="cv-date">
                        2012 - 2014
                    </td>
                    <td>
                        UTT Net Group's Vice Secretary<br />
                        <span class="cv-desc">
                            Vice Secretary of the UTT Net Group, student IT association
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        2009 - 2012
                    </td>
                    <td>
                        Student bureau<br />
                        <span class="cv-desc">
                            Secretary of the Maison des Lycéens, student main association
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        2009 - 2012
                    </td>
                    <td>
                        Student newspaper<br />
                        <span class="cv-desc">
                            Modeller of the "Jeanho", student newspaper
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="skills">
        <h2>Technical skills</h2>

        <div class="table-wrapper">
            <table>
                <tbody>
                <tr>
                    <td class="cv-date">
                        Web development
                    </td>
                    <td>
                        Expert<br />
                        <small class="cv-desc">
                            (PHP, Symfony, NodeJS, AngularJS, HTML5/CSS3)
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        Mobile development
                    </td>
                    <td>
                        Advanced<br />
                        <small class="cv-desc">
                            (Cordova / Phonegap, Ionic, Java Android)
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        System administration
                    </td>
                    <td>
                        Advanced<br />
                        <small class="cv-desc">
                            (Unix, Git, Subversion, Nginx, Apache)
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="cv-date">
                        Databases
                    </td>
                    <td>
                        Advanced<br />
                        <small class="cv-desc">
                            (MySQL / MariaDB, Oracle, MongoDB)
                        </small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>


    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 300);
                        return false;
                    }
                }
            });
        });
    </script>

{% endblock %}
